<div class="page-content">
  <div class="acme-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <h2 class="mdl-card__title-text">User {{user.userName}} :</h2>
      <table>
        <tr ng-repeat="(key, value) in user.currentUser">
          <td>
            {{key}}
          </td>
          <td>
           {{value}}
          </td>
        </tr>
      </table>
    </div>
    <div class="mdl-card__actions mdl-card--border">

    </div>
    <div class="mdl-card__menu">

    </div>
  </div>
</div>
