<div class="page-content">
  <div class="acme-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <h2 class="mdl-card__title-text">Users:</h2>
        <p ng-if="users.users">select index:
          <input type="number" min="0" ng-model="users.id" ng-change="users.getUsers()"/>
        </p>
      <ul ng-if="users.users">
        <li ng-repeat="user in users.users" >
          <a ng-href="#/users/{{user.login}}">{{user.login}}</a>
        </li>
      </ul>
    </div>
    <div class="mdl-card__actions mdl-card--border">

    </div>
    <div class="mdl-card__menu">

    </div>
  </div>
</div>
